.header.clearfix
  nav#total_nav.navbar.navbar-expand-lg.navbar-light.bg-white
    h2
      a#title.badge.badge-primary(href="/") POPSHION
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNavDropdown", aria-controls="navbarNavDropdown", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#") BROWSE SITE
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href="http://example.com", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            | CLOTHES
          .dropdown-menu(aria-labelledby="navbarDropdownMenuLink")
            a.dropdown-item(href="#") Cap
            a.dropdown-item(href="#") Top
            a.dropdown-item(href="#") Bottom
            a.dropdown-item(href="#") Shoes
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') SIGNIN
          else
            li.nav-item
              a.nav-link(href=`/users/${currentUser._id}`) MY
            li.nav-item
              a.nav-link(href='/signout') SIGNOUT
        li.nav-item
          a.nav-link(href="#") NOTICE
        li.nav-item
          a#last_li.nav-link(href="#") CREATE STYLE

        
