extends layout

block hero-unit
  #main_img.carousel.slide(data-ride="carousel", data-interval="3000")
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src="images/1.jpg", alt="First slide")
      .carousel-item
        img.d-block.w-100(src="images/2.jpg", alt="Second slide")
      .carousel-item
        img.d-block.w-100(src="images/3.jpg", alt="Third slide")
  #top_jumbo.jumbotron.text-center
    .container
      h1.display-3 Find Your Clothes
      #big_search.row
        .col-lg-12
          .input-group
            input.form-control(type="text", placeholder="Search for Clothes", aria-label="Search for Clothes")
            span.input-group-btn
              button.btn.btn-secondary(type="button") Search!
  #small_search.row
    .col-lg-6.center-block
      .input-group
        input.form-control(type="text", placeholder="Search for Clothes", aria-label="Search for...")
        span.input-group-btn
          button.btn.btn-secondary(type="button") Search!
          #mid_term.container.text-center
      
block content
  .container
    h2
      | Today's Fashion 
      a(href="https://univ20.com/tag/%ED%91%9C%EC%A7%80%EB%AA%A8%EB%8D%B8") IN KOREA
      include ./questions/index
  .container
    .card-deck
      .card
        img.card-img-top(src="./images/image1.jpg", alt="Card image cap")
        .card-body
          h4.card-title Chic Style
          p.card-text Like a career woman
      .card
        img.card-img-top(src="./images/image2.jpg", alt="Card image cap")
        .card-body
          h4.card-title Look for a boyfriend
          p.card-text If you wear this, you are also fashionable
      .card
        img.card-img-top(src="./images/image3.jpg", alt="Card image cap")
        .card-body
          h4.card-title Wealthy wife style
          p.card-text If you follow this style, you are the best at reunion.
    .card-deck
      .card
        img.card-img-top(src="./images/image4.jpg", alt="Card image cap")
        .card-body
          h4.card-title Elementary school students in Japan
          p.card-text Japanese elementary school style, where the trumpet pants are popular
      .card
        img.card-img-top(src="./images/image5.jpg", alt="Card image cap")
        .card-body
          h4.card-title Go to Paris!
          p.card-text I feel like I should go on a trip now
      .card
        img.card-img-top(src="./images/image6.jpg", alt="Card image cap")
        .card-body
          h4.card-title Convenient Career Woman
          p.card-text But it is neat.
    .card-deck
      .card
        img.card-img-top(src="./images/image7.jpg", alt="Card image cap")
        .card-body
          h4.card-title Hongdae style
          p.card-text If you go to Hongdae, you can see one by one.
      .card
        img.card-img-top(src="./images/image8.jpg", alt="Card image cap")
        .card-body
          h4.card-title Look at my girlfriend
          p.card-text Do you think your girlfriend would like this?
      .card
        img.card-img-top(src="./images/image9.jpg", alt="Card image cap")
        .card-body
          h4.card-title Home Front Playground Style
          p.card-text I want to run
  nav(aria-label="pag")
    ul.pagination.justify-content-center
      li.page-item
        a.page-link(href="#", tabindex="-1") Previous
      li.page-item
        a.page-link(href="#") 1
      li.page-item
        a.page-link(href="#") 2
      li.page-item
        a.page-link(href="#") 3
      li.page-item
        a.page-link(href="#") Next
  #second_term.container
    h2 Browse more Items
  #more_item.container
    .row
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/accessory.jpg", alt="Responsive image")
          .overlay
            h2 Accessory
            a.info(href="#") link here
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/cap.jpg", alt="Responsive image")
          .overlay
            h2 Cap
            a.info(href="#") link here
    .row
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/shirts.jpg", alt="Responsive image")
          .overlay
            h2 Shirts
            a.info(href="#") link here
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/jacket.jpg", alt="Responsive image")
          .overlay
            h2 Jacket
            a.info(href="#") link here
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/skirt.jpg", alt="Responsive image")
          .overlay
            h2 Skirt
            a.info(href="#") link here
    // Columns are always 50% wide, on mobile and desktop
    .row
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/pants.jpg", alt="Responsive image")
          .overlay
            h2 Pants
            a.info(href="#") link here
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/shoes.jpg", alt="Responsive image")
          .overlay
            h2 Shoes
            a.info(href="#") link here

  
