extends layout

block hero-unit
  #main_img.carousel.slide(data-ride="carousel", data-interval="3000")
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src="images/1.jpg", alt="First slide")
      .carousel-item
        img.d-block.w-100(src="images/2.jpg", alt="Second slide")
      .carousel-item
        img.d-block.w-100(src="images/3.jpg", alt="Third slide")
  #top_jumbo.jumbotron.text-center
    .container
      h1.display-3 Find Event!
      #big_search.row
        .col-lg-12
          .input-group
            input.form-control(type="text", placeholder="Search for Events", aria-label="Search for Events")
            span.input-group-btn
              button.btn.btn-secondary(type="button") Search!
  #small_search.row
    .col-lg-6.center-block
      .input-group
        input.form-control(type="text", placeholder="Search for Events", aria-label="Search for...")
        span.input-group-btn
          button.btn.btn-secondary(type="button") Search!
          #mid_term.container.text-center
      
block content
  .container
    h2
      | Event List 
      
  #second_term.container
    h2 Browse more Items
  #more_item.container
    .row
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/accessory.jpg", alt="Responsive image")
          .overlay
            h2 Accessory
            a.info(href="#") link here
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/cap.jpg", alt="Responsive image")
          .overlay
            h2 Cap
            a.info(href="#") link here
    .row
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/shirts.jpg", alt="Responsive image")
          .overlay
            h2 Shirts
            a.info(href="#") link here
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/jacket.jpg", alt="Responsive image")
          .overlay
            h2 Jacket
            a.info(href="#") link here
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/skirt.jpg", alt="Responsive image")
          .overlay
            h2 Skirt
            a.info(href="#") link here
    // Columns are always 50% wide, on mobile and desktop
    .row
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/pants.jpg", alt="Responsive image")
          .overlay
            h2 Pants
            a.info(href="#") link here
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/shoes.jpg", alt="Responsive image")
          .overlay
            h2 Shoes
            a.info(href="#") link here

  
