.content!= question.content
br
br
h6 
    .stime= moment(question.stime).format('YYYY-MM-DD')+" ~ " + moment(question.etime).format('YYYY-MM-DD')
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= question.numLikes] join,
      #[span.number.num-answers= question.numAnswers] answers,
      #[span.number.num-reads= question.numReads] reads
  .col-sm
    .author
      | upload on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
